<div>
  <div class="input-textbox">
    <input placeholder="to-do"/>
    <button (click)="addItem()">ADD</button>
  </div>
  <div class="input-textbox">
    <input placeholder="Search to do list" />
    <input type="checkbox">
    <label>show only undone work</label>
  </div>
  <div *ngFor="let item of toDoLists">
    <input type="checkbox" (change)="checkboxValue()">
    <label>{{ item.name }} ({{ item.date | date:"dd/MM/yyyy" }})</label>
    <button (click)="deleteItem()">X</button>
  </div>
</div>