.rm-buddy-card-detail {
    width: 200px;
    float: left;
}

/* .rm-buddy-card-detail-actions-btn {
    position: inherit;
} */

.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }